.custom-section {
    background-color: #222;
    color: white;
    border-radius: 15px;
    overflow: hidden;
}
.custom-section img {
    object-fit: cover;
    height: 100%;
}
.custom-text {
    padding: 2rem;
}


.custom-title {
    font-size: 2.5rem;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 1rem;
}


.custom-button {
    background-color: #8bc34a;
    border: 2px solid #8bc34a;
    padding: 0.5rem 1rem;
    border-radius: 12px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    display: inline-block;
    margin-top: 1rem;
    transition: all 0.3s ease;
}

.custom-button:hover {
    background-color:  #222;
    border-color: #8bc34a;
    color: #8bc34a;
}